.mentionField {
  width: 30%;
}
.mentionDiv {
  margin-bottom: 2%;
}

.descriptionField {
  width: 30%;
}

.descriptionDiv {
  margin-bottom: 2%;
}

.hashtagField {
  margin-bottom: 2%;
  width: 30%;
}

.hashtagDiv {
  margin-bottom: 2%;
}

.inputFile {
  margin-left: 2%;
  margin-top: 1%;
}

.textFieldGroup {
  margin-top: 2% !important;
  margin-left: 2%;
}

.imagesContainer {
  margin-bottom: 20%;
}

.uploadButton {
  margin-left: 2% !important;
  margin-top: 2%;
}

.success-message {
  color: green;
}
